Makefile
bin/*
sandbox
extern
config.log
cnf/autom4te.cache
Makefile-*
confdefs.h
config.log
www
*.dSYM
*~
floatbib.xml.bib
.DS_Store
doc/chap*
doc/manual.*
doc/*.aux
doc/*.pnr
doc/*.tex
doc/*.bbl
doc/*.brf
doc/*.log
doc/*.blg
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.out
doc/*.toc
myconfigure
src/floatconfig.h
zips
