Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
configure
config.log
config.status
src/.libs
src/.deps
src/float_la*
src/float.la
m4/lt*
m4/libtool.m4
stamp-*
Changelog
libtool
bin/*
sandbox
extern
config.log
cnf/autom4te.cache
Makefile-*
confdefs.h
*.dSYM
*~
floatbib.xml.bib
.DS_Store
src/floatconfig.h
tmp
gh-pages
doc/*.tex
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.brf
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.log
doc/*.out
doc/*.pnr
doc/*.toc
doc/manual.*
doc/*.txt
doc/*.html
