Makefile
aclocal.m4
autom4te.cache
build-aux/ltmain.sh
configure
config.log
m4/lt*
m4/libtool.m4
stamp-*
Changelog
libtool
bin/*
sandbox
extern
config.log
cnf/autom4te.cache
Makefile-*
confdefs.h
www
*.dSYM
*~
floatbib.xml.bib
.DS_Store
doc/*.aux
doc/*.pnr
doc/*.tex
doc/*.bbl
doc/*.brf
doc/*.log
doc/*.blg
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.out
doc/*.toc
src/floatconfig.h
zips
